html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  margin-bottom: 16px;
}

p {
  line-height: 1.4;
}

.page-header,
.hero,
.information,
.quote,
.contact {
  padding: 0 256px;
}

.page-header,
.hero {
  background-color: #1F2937;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px;
  padding-top: 26px;
}

button,
.logo,
.hero h1 {
  font-weight: 900;
  color: #F9FAF8;
}


.logo {
  font-size: 24px;
}

.logo {
  text-decoration: none;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.nav-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.nav-list > * {
  flex: auto;
}

p,
button,
.nav-list a {
  font-size: 18px;
  color: #E5E7EB;
}

.nav-list a {
  text-decoration: none;
}

.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.hero img,
.left {
  flex: 1;
  min-width: 300px;
}

.hero img {
  height: auto;
}

button {
  border-radius: 10px;
}

.hero button {
  background-color: #3882f6;
  padding: 10px 20px;
  border: none;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.information h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.information-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.information-block {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information-block img {
  width: 200px;
  height: 200px;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.information-block p {
  color: rgba(31, 41, 55, 0.7);
  text-align: center;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 64px;
}

.quote-block {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
}

.quote-block p {
  font-size: 36px;
  font-weight: lighter;
  color: #1F2937;
}

.quote .writer {
  font-size: 30px;
  align-self: flex-end;
}