html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
p {
  margin-bottom: 16px;
}

p {
  line-height: 1.4;
  text-align: justify;
}

.page-header,
.hero {
  padding: 0 256px;
  background-color: #1F2937;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 26px;
  padding-top: 26px;
}

button,
.logo,
.hero h1 {
  font-weight: 900;
  color: #F9FAF8;
}

button,
.logo {
  font-size: 24px;
}

.logo {
  text-decoration: none;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.nav-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.nav-list > * {
  flex: auto;
}

.nav-list a,
.hero p {
  font-size: 18px;
  color: #E5E7EB;
}

.nav-list a {
  text-decoration: none;
}

.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.hero img,
.left {
  flex: 1;
  min-width: 300px;
}

.hero img {
  height: auto;
}

button {
  border-radius: 10px;
}

.hero button {
  background-color: #3882f6;
  padding: 10px 20px;
  border: none;
}